body {
  font-family: $body-font;
  font: {
    size: map-get($font-sizes, "md");
  }
  color: color("dark");
  background-color: color();
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}
img {
  display: block;
}
.section-wrapper {
  width: 90%;
  margin: 50px auto;
  overflow: hidden;
}

// carrousel
#carrousel {
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-bi", serif;
  background: #000;
  @include media-breakpoint-up("xxl") {
    height: 80vh;
  }
}

.carousel {
  width: 100%;
  cursor: grab;

  &.dragging {
    cursor: grabbing;
  }

  &--wrap {
    white-space: nowrap;
  }

  &--item {
    display: inline-block;
    width: 70vw;
    padding: 3vw;
    user-select: none;

    figure {
      position: relative;
      z-index: 1;
      display: block;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;

      img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
        transform-origin: center;
      }
    }

    h3 {
      z-index: 1;
      bottom: 1.8vw;
      font-size: font-size("md");
      bottom: 1vw;
      color: #fff;
      @include media-breakpoint-up("lg") {
      font-size: font-size("xl");
      }
      @include media-breakpoint-up("xl") {
      font-size: font-size("xxl");
      }
    }
  }

  &--progress {
    position: relative;
    z-index: 2;
    pointer-events: none;
    bottom: 2vw;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);

    &-bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      transform: scaleX(0);
      transform-origin: 0% 0%;
    }
  }
}

